lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

#
pids
logs
results
public/images
public/thumbs
npm-debug.log

# TT
*.png
*.jpg
*.jpeg
*.gif

# some extra ones
*.sw?
.DS_Store
tmp/*
log/*
node_modules/