each image in images
	div( class="element" )
		a( class="imagelink", href=image.url, rel=image._id )
			img( src="/thumbs/"+ encodeURI(image.thumb_name), width=image.thumb_width, height=image.thumb_height )