extends layout

block content
	div.title NOW
	section#content
		div(id="container", class="clickable clearfix")
			include imageloop
		script(src='/javascripts/jquery.isotope.js')
		script(src='/javascripts/jquery.scripts.js')
		script(src='/javascripts/index.js')
		script(src='/javascripts/now_socket.js')