extends layout

block content
	section#content
		section( id="options", class="clearfix" )
			ul( id="etc", class="clearfix" )
				li#append
					a( id="back", href="#append" ) Append new elements
		div(id="container", class="clickable clearfix")
		script(src='/javascripts/jquery.isotope.js')
		script(src='/javascripts/jquery.scripts.js')
		script(src='/javascripts/index.js')
		script(src='/javascripts/now_socket.js')