doctype 5
html
  head
    title= title
    block scripts
    script(src='/javascripts/jquery-1.7.2.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/ajax.js')
    script(src='/javascripts/ajax_index.js')
    script(src='/javascripts/now_socket.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content