body {
	padding:0;
	margin:0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*a {
	color: #00B7FF;
}

div.images{
	padding: 20px
}

div.image {
	float:left;
	padding:20px;
}*/

#container { 
  margin: auto; 
  border: 1px #f00 solid;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

.element {  width:400px; height:300px; /*background-color:#CCC;*/ margin:0 0 20px 0; }
